input.query {
	width:650px;
	height:20px;
}

div.sections {
	margin-top:5px;
}

div.sections span {
	margin-right:10px;
}
div.sections span input {
	margin-right:5px;
	position:relative;
	top:1px;
}

ul.pagination {
	list-style:none;
	margin-left:0;
}

div.preview {
	margin-left:15px;
}

div.error {
	color:#ff0000;
	margin-top:10px;
}
