div.messages {
	margin:10px 0;
}

div.buttons {
	margin-top:10px;
}
div.buttons div.submit {
	width:210px;
	margin-right:15px;
	float:left;
}
div.buttons input.next {
	float:right;
}
div.buttons input.submit {
	float:right;
	font-weight:bold;
}
