body {
	margin:0;
	background:url(/images/layout/compromise_background.gif) repeat-x left top;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#444444;
}

h1, h2, h3 {
	margin:0;
	font-family:Helvetica, sans-serif;
	font-weight:normal;
	color:#444444;
	letter-spacing:-0.035em;
}

h1 {
	font-size:20px;
	margin-bottom:10px;
}

h2 {
	border-bottom:1px solid #e0e0e0;
	font-size:16px;
	margin-bottom:10px;
}

h3 {
	color:#fb7600;
	font-size:14px;
	margin-bottom:5px;
}

p, ul, ol {
	margin-top:0;
	line-height:180%;
}

ul, ol {
}

a {
	text-decoration:none;
	color:#fb7600;
}
a:hover {
	text-decoration:underline;
	color:#ff5000;
}

img.title_icon {
	float:right;
	width:45px;
	margin-bottom:5px;
}

div.wrapper {
	width:900px;
	margin:0 auto;
	margin-bottom:10px;
}

/* Header
 */
div.header {
	height:70px;
	background-color:#ffffff;
	border-left:1px solid #404145;
	border-right:1px solid #404145;
}

div.header div.title {
	padding:20px 0 0 30px;
	letter-spacing:-1px;
	font-size:26px;
	color:#ff7900;
}

/* Menu
 */
div.menu {
	height:44px;
	background:url(/images/layout/compromise_menu.jpg) no-repeat left top;
	padding-right:10px;
}

div.menu ul {
	margin:0;
	padding:13px 0 0 20px;
	list-style:none;
	line-height:normal;
	float:right;
}

div.menu li {
	float:left;
}

div.menu a {
	display:block;
	margin-right:3px;
	padding:5px 20px 9px 20px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#ffffff;
	border:none;
}

div.menu a:hover {
	background:#ff7900;
	text-decoration:none;
}

/* Page
 */
div.page {
	padding:20px 30px 10px 30px;
	min-height:300px;
	background-color:#ffffff;
	border-left:1px solid #404145;
	border-right:1px solid #404145;
	position:relative;
}

/* Footer
 */
div.footer {
	padding:15px 0;
	background:#444444;
	font-family:Arial, Helvetica, sans-serif;
	color:#c0c0c0;
	font-size:10px;
	text-align:center;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	margin-bottom:30px;
}

div.footer span:before {
	content:"-";
	margin:0 7px;
}
div.footer span:first-child:before {
	content:"";
}

div.footer a {
	color:#f0f0f0;
	border:0;
}
