div.access {
	overflow:auto;
}

table.list {
	margin-bottom:15px;
}
table.list th.user, table.list th.module {
	width:150px;
}
table.list th.access {
	padding-left:15px;
	padding-right:15px;
	text-align:center;
}
table.list td.access {
	text-align:center;
}
