textarea.text {
	width:400px;
	height:150px;
}

div.output {
	border:1px solid #e0e0ff;
	background-color:#f8f8ff;
	width:400px;
	min-height:150px;
	margin-top:20px;
}

input.button, a.button {
	margin:15px 10px 0 0;
}
